#slider .slider-main {
	width: 100%;
	height: auto;
}

.miota video {
	display: block;
	width: 100%;
	margin-left: auto;
	background-color: black;
}
.text-white{
	color: #fff !important;
}
.box1, .box2 {
	height: 400px !important;
	overflow: scroll;
	background-color: #f6f6f6 !important;
}
.box-flip .img-fluid {
	height: 330px;
	background-size: cover;
	background-position: center;
}